{% load static %}
{% load socialaccount %}
<html>

<body>
  <link rel="stylesheet" href="{% static 'styles.css' %}">

  <div role="button">
    <span class="glow"></span>
    
   
    {% comment %} <div> <span>cool</span>Glowing shadows</div> {% endcomment %}
    
      <div class="content">
        <header>
          <h2>Welcome To Skicruit</h2>
        </header>
        {% comment %} <i class="bi bi-linkedin"></i>    {% endcomment %}
        <form class="form-signin">
         
            <a
              class="btn btn-outline-secondary btn-block"
              href="{% provider_login_url 'google' %}"
              ><img
                src="https://dl.dropboxusercontent.com/s/es5sylabbcaobjr/google.png?dl=0"
                alt="Google"
                height="30"
                class="d-inline-block mr-2"
              />Sign In With Google</a>
            
            <br />
            <a
              class="btn btn-outline-secondary btn-block"
              href="{% provider_login_url 'github' %}"> <img
                src="https://dl.dropboxusercontent.com/s/2929dbjh0nvgbgn/github.png?dl=0"
                alt="Github"
                height="30"
                class="d-inline-block mr-2"
              />Sign In With Github</a
            >
            <br />
            <a
              class="btn btn-outline-dark btn-block"
              href="{% provider_login_url 'linkedin_oauth2' %}"
              ><img
                src="https://dl.dropboxusercontent.com/s/yz30dq16gqmjbv1/linkedin.png?dl=0"
                alt="Linkedin"
                height="30"
                class="d-inline-block mr-2"
              />Sign In With LinkedIn</a
            >
          {% comment %} </div> {% endcomment %}
        
      </div>
   
    
    
    
     
    
  </div>


  <form class="form-signin">
         
    <a
      class="btn btn-outline-secondary btn-block"
      href="{% provider_login_url 'google' %}"
      ><img
        src="https://dl.dropboxusercontent.com/s/es5sylabbcaobjr/google.png?dl=0"
        alt="Google"
        height="30"
        class="d-inline-block mr-2"
      />Sign In With Google</a
    >
    <br />
    <a
      class="btn btn-outline-secondary btn-block"
      href="{% provider_login_url 'github' %}"
      ><img
        src="https://dl.dropboxusercontent.com/s/2929dbjh0nvgbgn/github.png?dl=0"
        alt="Github"
        height="30"
        class="d-inline-block mr-2"
      />Sign In With Github</a
    >
    <br />
    <a
      class="btn btn-outline-dark btn-block"
      href="{% provider_login_url 'linkedin_oauth2' %}"
      ><img
        src="https://dl.dropboxusercontent.com/s/yz30dq16gqmjbv1/linkedin.png?dl=0"
        alt="Linkedin"
        height="30"
        class="d-inline-block mr-2"
      />Sign In With LinkedIn</a
    >
  </div>

</div>
</body>
</html>
 